.form-container {
    flex-grow: 1;
    display: flex;
    justify-content: center;
}

.form {
    color: #48246e;
    min-width: 740px;
    width: 70vw;
    padding: 30px;
    background-color: #fff;
    border-radius: 14px;
}

.form-header {
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #48246e;
    color: #fff;
    margin: 10px 20px;
}

.form-sub-header {
    display: flex;
    justify-content: center;
    font-size: 24px;
}

.form-fields {
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.form-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 30px;
    text-align: center;
    margin: 5px 0 15px 0;
}

.button-container {
    display: flex;
    justify-content: space-between;
}

.button {
    height: 40px;
    width: 100px;
    color: #ffffff;
    text-align: center;
    font-size: 20px;
    background-color: #48246e;
    border-style: none;
    border-radius: 10px;
    padding: 4px;
}

.button:hover {
    cursor: pointer;
}