.form-container{
    flex-grow: 1;
    display: flex;
    justify-content: center;
}
.form{
    color: #48246e;
    width: 70vw;
    padding: 7px;
    background-color: #fff;
    border-radius: 14px;
}
.form-header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #48246e;
    color: #fff;
    margin: 10px 20px;
}
.form-sub-header{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.form-row {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.form-fields > * {
    margin: 5px 0 15px 0;
}

.button-container{
    display: flex;
    justify-content: space-between;
    margin: 10px;
}
.button{
    height: 5vh;
    width: 7vw;
    background-color: #48246e;
    color: #d3cbdc;
    text-align: center;
    font-size: 18px;
    border-style: none;
    border-radius: 10px;
    padding: 4px;
}
.button:hover{
    cursor: pointer;
}