/* .student-reg-form{
    color: #48246e;
    margin: 5vh 5vw;
    padding: 7px;
    background-color: #fff;
    border-radius: 14px;
}
.form-header{
    display: flex;
    justify-content: center;
    font-size: 30px;
    background-color: #48246e;
    color: #fff;
    margin: 10px 20px;
}
.form-sub-header{
    display: flex;
    justify-content: center;
    font-size: 24px;
}
.student-reg-form-fields{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    justify-items: center;
    padding-bottom: 5px;
}
.student-reg-form-fields > * {
    margin: 5px 10px 15px 10px;
}

.button-container{
    display: flex;
    justify-content: flex-end;
    margin: 10px;
} */
